* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Geomanist', "Courier New", monospace;
}
.myAwesomeExtensionIcon {
  background-image: url("https://img.icons8.com/fluency/50/000000/centralized-network.png");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
