* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Geomanist", "Courier New", monospace;
}
.PipelineExtensionIcon {
  background-image: url("https://img.icons8.com/color/48/000000/serial-tasks.png");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.SparqlExtensionIcon {
  background-image: url("https://img.icons8.com/external-flaticons-flat-flat-icons/64/000000/external-query-big-data-flaticons-flat-flat-icons.png");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
